# Usage of DataFrame.crosstab()
- Compute a simple cross tabulation of two (or more) factors. By default computes a <b>frequency table</b> of the factors <b>unless</b> an array of values and an aggregation function are passed.
- Syntax: <code>pandas.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)</code>
- Description from [pandas docs](https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html)

------

In [1]:
import pandas as pd
import numpy as np

In [6]:
data={
    'year':[2000,2000,2000,2000,2001,2001,2001,2001],
    'auditor':['KPMG', 'KPMG', 'KPMG', 'Deloitte', 'KPMG', 'KPMG', 'Deloitte', 'Deloitte'],
    'firm':['A','B','C','D','A','B','C','D'],
    'asset':[1000,400,200,100,1500,600,300,150]
}
df=pd.DataFrame(data)
df

   year   auditor firm  asset
0  2000      KPMG    A   1000
1  2000      KPMG    B    400
2  2000      KPMG    C    200
3  2000  Deloitte    D    100
4  2001      KPMG    A   1500
5  2001      KPMG    B    600
6  2001  Deloitte    C    300
7  2001  Deloitte    D    150

----------------

## 2 * 2 Frequency Table

In [7]:
pd.crosstab(df.year, df.auditor)

auditor  Deloitte  KPMG
year
2000            1     3
2001            2     2

----------------

## 2 * 2 Table for sum of values (asset in this example)

In [9]:
pd.crosstab(df.year, df.auditor, values=df.asset, aggfunc='sum')

auditor  Deloitte  KPMG
year
2000          100  1600
2001          450  2100

----------------

## 2 * 2 Table for mean of values (asset in this example)

In [13]:
pd.crosstab(df.year, df.auditor, values=df.asset, aggfunc='mean').round(1)

auditor  Deloitte    KPMG
year
2000        100.0   533.3
2001        225.0  1050.0

----------------