## Compustat - Segment data
- seg_ann
- seg_annfund
- seg_customer
- seg_geo
- seg_naics
- seg_product
- seg_type

-------------

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import wrds
pd.options.display.max_columns=200

### Connect WRDS

In [2]:
conn=wrds.Connection()

Enter your WRDS username [yjaey]: yjaeyoon
Enter your password: ···············

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
Loading library list...
Done

----------------

In [3]:
uber_gvkey= '035077'

### Define a function to get segment data for one company

In [10]:
def get_seg_data(seg_file , gvkey ):

    seg_df= conn.raw_sql(f"""select *
                        from comp.{file_name} a
                        where a.gvkey = '{uber_gvkey}' and a.datadate= '2019-12-31'
                        """)
    return seg_df

---------------

### seg_ann

In [16]:
file_name= 'seg_ann'
df= get_seg_data(file_name, uber_gvkey)
print(df.shape)
df.head()

(1, 7)

    gvkey curcds isosrc  naicsh  srcs  upds    datadate
0  035077    USD   None  485310   5.0   3.0  2019-12-31

---------------

### seg_annfund

In [14]:
file_name= 'seg_annfund'
df= get_seg_data(file_name, uber_gvkey)
print(df.shape)
df.head()

(21, 79)

,gvkey,stype,sid,atlls,atlls_dc,capxs,capxs_dc,capxs_fn,caxts,caxts_dc,cogss,cogss_dc,dps,dps_dc,emps,emps_dc,emps_fn,esubs,esubs_dc,esubs_fn,gdwls,gdwls_dc,ias,ias_dc,ibs,ibs_dc,iints,iints_dc,intseg,intseg_dc,ivaeqs,ivaeqs_dc,nis,nis_dc,nopxs,nopxs_dc,nxints,nxints_dc,obs,obs_dc,ocaxs,ocaxs_dc,oelim,oelim_dc,oiadps,oiadps_dc,oibdps,oibdps_dc,ops,ops_dc,ops_fn,ppents,ppents_dc,ptis,ptis_dc,rds,rds_dc,rds_fn,revts,revts_dc,sales,sales_dc,sales_fn,salexg,salexg_dc,spis,spis_dc,txts,txts_dc,txws,txws_dc,xidos,xidos_dc,xints,xints_dc,xsgas,xsgas_dc,datadate,srcdate
0,035077,BUSSEG,3.0,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,25.0,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,None,None,None,2071.0,None,None,None,None,None,None,None,None,None,None,None,10707.0,None,10707.0,None,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,2019-12-31,2020-12-31
1,035077,BUSSEG,4.0,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,13.0,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,None,None,None,-1372.0,None,None,None,None,None,None,None,None,None,None,None,1401.0,None,1401.0,None,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,2019-12-31,2020-12-31
2,035077,BUSSEG,5.0,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,None,None,None,-217.0,None,None,None,None,None,None,None,None,None,None,None,731.0,None,731.0,None,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,2019-12-31,2020-12-31
3,035077,BUSSEG,6.0,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,29.0,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,None,None,None,-499.0,None,None,None,None,None,None,None,None,None,None,None,42.0,None,42.0,None,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,2019-12-31,2020-12-31
4,035077,BUSSEG,7.0,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,100.0,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,None,None,None,-251.0,None,None,None,None,None,None,None,None,None,None,None,119.0,None,119.0,None,None,None,None,None,None,None,None,0.0,None,None,None,None,None,None,None,2019-12-31,2020-12-31

---------------

### Customer

In [17]:
file_name= 'seg_customer'
df= get_seg_data(file_name, uber_gvkey)
print(df.shape)
df.head()

(4, 10)

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,datadate
0,035077,1.0,United States and Canada,GEOREG,USA,ISO,8805.0,0.0,None,2019-12-31
1,035077,2.0,Latin America,GEOREG,L_AMER,REG,1947.0,0.0,None,2019-12-31
2,035077,3.0,"Europe, Middle East and Africa",GEOREG,EUROPE,REG,2148.0,0.0,None,2019-12-31
3,035077,4.0,Asia Pacific,GEOREG,ASIA,REG,1247.0,0.0,None,2019-12-31

---------------

### Geographic

In [19]:
file_name= 'seg_geo'
df= get_seg_data(file_name, uber_gvkey)
print(df.shape)
df.head(20)

(3, 6)

    gvkey   stype  sid gareag gareat    datadate
0  035077  GEOSEG  1.0    USA    ISO  2019-12-31
1  035077  GEOSEG  2.0    BRA    ISO  2019-12-31
2  035077  GEOSEG  3.0  OTHER    REG  2019-12-31

---------------

### naics (industry)

In [18]:
file_name= 'seg_naics'
df= get_seg_data(file_name, uber_gvkey)
print(df.shape)
df.head(20)

(9, 7)

    gvkey   stype  sid  ranks  naicss  sics    datadate
0  035077  BUSSEG  2.0    1.0  541614  4731  2019-12-31
1  035077  BUSSEG  2.0    2.0     485  4100  2019-12-31
2  035077  BUSSEG  3.0    1.0  485310  4121  2019-12-31
3  035077  BUSSEG  3.0    2.0  519130  7375  2019-12-31
4  035077  BUSSEG  4.0    1.0  519130  7375  2019-12-31
5  035077  BUSSEG  4.0    2.0  485310  4121  2019-12-31
6  035077  BUSSEG  5.0    1.0  541614  4731  2019-12-31
7  035077  BUSSEG  5.0    2.0     485  4100  2019-12-31
8  035077  BUSSEG  6.0    1.0  519130  7375  2019-12-31

---------------

### product

In [21]:
file_name= 'seg_product'
df= get_seg_data(file_name, uber_gvkey)
print(df.shape)
df.head(20)

(3, 8)

,gvkey,pdid,naicsp,pnms,saleps,sid,stype,datadate
0,035077,5.0,485310,Rides revenue,10612.0,3.0,BUSSEG,2019-12-31
1,035077,6.0,532111,Vehicle Solutions revenue,21.0,3.0,BUSSEG,2019-12-31
2,035077,7.0,532111,Other revenue,112.0,3.0,BUSSEG,2019-12-31

---------------

### Type

In [20]:
file_name= 'seg_type'
df= get_seg_data(file_name, uber_gvkey)
print(df.shape)
df.head(20)

(8, 8)

,gvkey,stype,sid,geotp,snms,soptp1,soptp2,datadate
0,035077,BUSSEG,2.0,None,Other Bets,PD_SRVC,None,2019-12-31
1,035077,BUSSEG,3.0,None,Rides,PD_SRVC,None,2019-12-31
2,035077,BUSSEG,4.0,None,Eats,PD_SRVC,None,2019-12-31
3,035077,BUSSEG,5.0,None,Freight,PD_SRVC,None,2019-12-31
4,035077,BUSSEG,6.0,None,ATG and Other Technology Programs,PD_SRVC,None,2019-12-31
5,035077,GEOSEG,1.0,2,United States,GEO,None,2019-12-31
6,035077,GEOSEG,2.0,3,Brazil,GEO,None,2019-12-31
7,035077,GEOSEG,3.0,3,All Other Countries,GEO,None,2019-12-31

----------