# Usage of zip()
- The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc. If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.
- Syntax: <code>zip(iterator1, iterator2, iterator3 ...)</code>
- Description from [w3school](https://www.w3schools.com/python/ref_func_zip.asp)

--------------------

### Define two lists

In [1]:
tickers= ['AMZN', 'TSLA', 'AAPL']
names= ['Amazon', 'Tesla', 'Apple']

In [2]:
print(tickers)

['AMZN', 'TSLA', 'AAPL']

In [3]:
print(names)

['Amazon', 'Tesla', 'Apple']

### Generate tuple from two lists.

In [4]:
x=tuple(zip(tickers, names))
print(x)

(('AMZN', 'Amazon'), ('TSLA', 'Tesla'), ('AAPL', 'Apple'))

### Generate dictionary from two lists.

In [5]:
x=dict(zip(tickers, names))
print(x)

{'AMZN': 'Amazon', 'TSLA': 'Tesla', 'AAPL': 'Apple'}

### Generate DataFrame from two lists.

In [6]:
import pandas as pd

In [7]:
x=pd.DataFrame(list(zip(tickers, names)),
                         columns= ['Ticker', 'Name'])
x

  Ticker    Name
0   AMZN  Amazon
1   TSLA   Tesla
2   AAPL   Apple