# Usage of DataFrame.apply()
- The apply() method allows you to apply a function along one of the axis of the DataFrame, default 0, which is the index (row) axis. 
- Syntax: <code>dataframe.apply(func, axis, raw, result_type, args, kwds)</code>
- Description from [w3school](https://www.w3schools.com/python/pandas/ref_df_apply.asp)

------

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
  "apple": [50, 40, 30],
  "orange": [300, 1112, 42]
}

df = pd.DataFrame(data)
df.head()

   apple  orange
0     50     300
1     40    1112
2     30      42

### Sum across rows for each column

In [3]:
df.apply(np.sum, axis= 0)

apple      120
orange    1454
dtype: int64

### Sum accross columns for each row

In [4]:
df.apply(np.sum, axis= 1)

0     350
1    1152
2      72
dtype: int64

### Sum accross columns for each row, then add it as a new column

In [5]:
df['sum']= df.apply(np.sum, axis= 1)
df

   apple  orange   sum
0     50     300   350
1     40    1112  1152
2     30      42    72

-----------