# Usage of DataFrame.melt()
- npivot a DataFrame from wide to long format, optionally leaving identifiers set.
- This function is useful to massage a DataFrame into a format where one or more columns are identifier variables (id_vars), while all other columns, considered measured variables (value_vars), are “unpivoted” to the row axis, leaving just two non-identifier columns, ‘variable’ and ‘value’.
- Syntax: <code>pandas.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=True)</code>
- Description from [pandas docs](https://pandas.pydata.org/docs/reference/api/pandas.melt.html)

------

In [2]:
import pandas as pd
import numpy as np

In [6]:
data={
    'year':[2000,2001,2002],
    'KPMG':[105,110,120],
    'PwC':[80,85,100],
    'Deloitte':[80,85,90]
}
df=pd.DataFrame(data)
df

   year  KPMG  PwC  Deloitte
0  2000   105   80        80
1  2001   110   85        85
2  2002   120  100        90

----------------

## Turn the data to auditor-year data

In [9]:
pd.melt(df, id_vars= 'year', var_name='auditor_name')

   year auditor_name  value
0  2000         KPMG    105
1  2001         KPMG    110
2  2002         KPMG    120
3  2000          PwC     80
4  2001          PwC     85
5  2002          PwC    100
6  2000     Deloitte     80
7  2001     Deloitte     85
8  2002     Deloitte     90

----------------