# Get Russell 1000 from Wikipedia

-----------

In [1]:
import pandas as pd

## Get data

In [2]:
ru1000=pd.read_html('https://en.wikipedia.org/wiki/Russell_1000_Index')[2]

In [3]:
ru1000.head()

        Company Ticker  GICS Sector         GICS Sub-Industry
0  10x Genomics    TXG          NaN                       NaN
1            3M    MMM  Industrials  Industrial Conglomerates
2        Abbott    ABT  Health Care     Health Care Equipment
3        AbbVie   ABBV  Health Care           Pharmaceuticals
4       Abiomed   ABMD  Health Care     Health Care Equipment

In [4]:
ru1000= ru1000[['Company', 'Ticker']]
print(ru1000.shape)
ru1000.head()

(1018, 2)

        Company Ticker
0  10x Genomics    TXG
1            3M    MMM
2        Abbott    ABT
3        AbbVie   ABBV
4       Abiomed   ABMD

-------------