## Download id from IBES via WRDS
- Link for IBES at WRDS: https://wrds-www.wharton.upenn.edu/pages/get-data/ibes-thomson-reuters/

-------------------------

### Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import wrds

### Connect WRDS

In [2]:
conn=wrds.Connection()

Enter your WRDS username [yjaey]: yjaeyoon
Enter your password: ···············

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
Loading library list...
Done

### Download id from IBES

In [4]:
df= conn.get_table(library='ibes', table='id')
print(df.shape)
df.head(2)

(267275, 11)

,ticker,cusip,oftic,cname,dilfac,pdi,ccopcf,mscip,uai,usfirm,sdates
0,0000,87482X10,TLMR,TALMER BANCORP,1.0,P,None,0,1,1.0,2014-02-20
1,0000,87482X10,TLMR,TALMER BANCORP,1.0,D,None,0,1,1.0,2014-03-20

------------------

### Inspection

In [6]:
df.nunique()

ticker     82648
cusip     114192
oftic      79430
cname     134471
dilfac       523
pdi            2
ccopcf         2
mscip          3
uai            2
usfirm         2
sdates       573
dtype: int64

In [7]:
df.pdi.value_counts()

P    188201
D     79074
Name: pdi, dtype: int64

In [8]:
df.usfirm.value_counts()

0.0    175965
1.0     91310
Name: usfirm, dtype: int64

---------------------

### Keep US firms only

In [9]:
df=df[df.usfirm==1].drop(columns='usfirm')
df.shape
df.head(2)

,ticker,cusip,oftic,cname,dilfac,pdi,ccopcf,mscip,uai,sdates
0,0000,87482X10,TLMR,TALMER BANCORP,1.0,P,None,0,1,2014-02-20
1,0000,87482X10,TLMR,TALMER BANCORP,1.0,D,None,0,1,2014-03-20

In [10]:
df.nunique()

ticker    24506
cusip     37923
oftic     34677
cname     39276
dilfac      479
pdi           2
ccopcf        1
mscip         3
uai           2
sdates      566
dtype: int64

In [11]:
df.pdi.value_counts()

D    56119
P    35191
Name: pdi, dtype: int64

-----------

### Save to .csv

In [16]:
# df.to_csv("data/ibes_id.csv", index= None)

### Close connection

In [17]:
conn.close()

---------